<mat-toolbar>
  <span>My current environment: {{ currentEnvironment | uppercase }}</span>
</mat-toolbar>
<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <div mat-subheader>Eager</div>
      <mat-list-item role="listitem">
        <a mat-button routerLink="earth" routerLinkActive="mat-accent"
          ><mat-icon>public</mat-icon> Earth</a
        >
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-button routerLink="animal" routerLinkActive="mat-accent"
          ><mat-icon>pets</mat-icon> Animal</a
        >
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-button routerLink="weather" routerLinkActive="mat-accent">
          <mat-icon>thermostat</mat-icon> Weather</a
        >
      </mat-list-item>

      <div mat-subheader>Lazy</div>
      <mat-list-item role="listitem">
        <a mat-button routerLink="biome" routerLinkActive="mat-accent">
          <mat-icon>water</mat-icon> Biome</a
        ></mat-list-item
      >
      <mat-list-item role="listitem">
        <a mat-button routerLink="flora" routerLinkActive="mat-accent">
          <mat-icon>park</mat-icon> Flora</a
        ></mat-list-item
      >
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="draw-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
